html {
  background: radial-gradient(circle, #ffe850, #dc6545, #8b1137) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cards {
  margin-left: 20%;
}

@media (max-width: 900px) {
  .cards {
    margin-left: 10%;
  }
  .button {
    margin: 0;
  }
}

@media (max-width: 750px) {
  .cards {
    margin: 0;
  }
  .column {
    margin-left: 0;
    margin-right: 0;
  }
}

.btn {
  background-color: #e4c07c;
  width: 190px;
  height: 140px;
  display: inline-block;
  border-radius: 16px;
  font-size: 20px;
  margin: 0 10px;
}

#spymasterCards {
  margin: 0;
  display: inline-block;
}

#view-clue {
  font-size: 30px;
}

.note {
  color: white;
}

.clue-getter {
  margin: 30px;
}

.send {
  margin-left: 20px;
}

.key {
  width: 40px;
  height: 40px;
  margin: 5px;
}

#guessCount {
  color: white;
}
